$primary: rgb(20, 107, 220);
$secondary: white;
$tertiary: rgb(160, 200, 252);
$font:system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;

body {
    font-family: $font;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;padding: 0;
    box-sizing: border-box;
    background-color: $tertiary
}
  
.board {
    display: grid;
    width: 300px;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    border: 2px solid black;
    border-radius: 5px;
    color: $secondary;
    background-color: $secondary;
}

.cell {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

.x-move {
    background: $primary;
    color:$secondary;
}

.o-move {
    background: $secondary;
    color:$primary;
    
}

.message {
    width: 300px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
}

.restartButton {
    position: absolute;
    top:1rem;right:1rem;
    align-items: center;
    background-clip: padding-box;
    background-color: $primary;
    border: 1px solid transparent;
    border-radius: .5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: $secondary;
    cursor: pointer;
    display: inline-flex;
    font-family: $font;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;

    &:hover, &:focus {
        background-color: $primary;
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    }

    &:hover {
        transform: translateY(-1px);
    }

    &:active {
        background-color: $secondary;
        box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
        transform: translateY(0);
        color: $primary;
    }
}
